<!DOCTYPE html>
<html>
<head>
  <title>CIMB Personal Loan</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id=body>
    <nav id=navigation>
      <div class="row">
        <div class="column">
          <div class=line-top></div>
          <div class=line></div>
          <div class=line></div>
        </div>
        <div class="column">
          <img src="logo.png" alt="CIMBLogo">
        </div>
      </div>
    </nav>
    <h2><center>- Cash Plus Personal Loan -</center></h2>
    <div class="brow">
      <div id=bleft class="bcolumn">
        <p><b>Rate as low as 6.88% p.a.</b></p>
        <p>Interest Rates from as low as 6.88% to 14.88% fixed per annum.</p>
        <p><b>Zero Fees</b></p>
        <p>No Processing Fee, No Early Settlement Fee, No Lock-In Period, No Stamp Duty.</p>
        <p><b>Flexible Tenure</b></p>
        <p>Flexible payment period of up to 5 years.</p>
        <p><b>Insurance Coverage up to RM25,000</b></p>
        <p>The bank will write off the loan up to RM25,000, in the event of customer's death during loan period.</p>
        <p><b>Loan Amount</b></p>
        <p>Loan Amount offered from minimum RM2,000 to maximum of RM100,000 or up to 8X gross monthly income (whichever is lower).</p>
      </div>
      <div id=bright class="bcolumn">
        <img id=qr src="qrcode.png" alt="CIMBQR">
      </div>
    </div>
    <center>

      <h3> Person Details </h3>
      <p id=name>

      </p>
      <p id=add>

      </p>
      <p id=ic>

      </p>
      <p id=gender>

      </p>

    </center>
    <script src="/socket.io-client/dist/socket.io.js"></script>
    <script src="dataRetrieve.js"></script>
</body>
</html>
